In [4]:
import pandas as pd

In [6]:
# Read the csv file
data = pd.read_csv('../data/reviews.csv')

data.head(n=10)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,109,449036,2011-08-15,927861,Edwin,The host canceled my reservation the day befor...
1,109,74506539,2016-05-15,22509885,Jenn,Me and two friends stayed for four and a half ...
2,344,79805581,2016-06-14,2089550,Drew & Katie,We really enjoyed our stay here in Burbank! Th...
3,344,120725697,2016-12-11,32602867,Christopher,I had a ton of fun learning to play Go with Fu...
4,344,123800867,2016-12-30,35822259,May,The host canceled this reservation the day bef...
5,344,126784029,2017-03-03,587914,Nicolee,Learning to play Go with Fuko was great fun! W...
6,344,315417394,2018-08-28,208896709,Lauren,My family had a wonderful stay at Melissa’s ho...
7,344,339541321,2018-10-21,68239654,Gerardo,"The house was beautiful, all the rooms were ni..."
8,2708,13994902,2014-06-09,10905424,Kuberan,i had a wonderful stay. Everything from start ...
9,2708,14606598,2014-06-23,2247288,Camilla,Charles is just amazing and he made my stay sp...